GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=Multimodal-doc-analyzer
LANGCHAIN_CALLBACKS_BACKGROUND=false
ANTHROPIC_API_KEY=your_anthropic_api_key_here
